.button {
    display: flex !important;
    align-items: center;
}

.icon {
    height: 48px;
    width: 48px;
}

.title {
    font-size: 16px;
    margin-left: 20px;
}

.title :global .name {
    font-weight: bold;
}