body {
  background-color: unset !important;
}

html {
  background: url("/images/hexellence_yellow.png");
}

html, body, #app {
  height: 100%;
}

.flex-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-block {
  width: 600px;
}

.social-buttons-group .btn {
  margin: 3px 0;
}

.claims-table td, .claims-table tr {
  margin: 20px !important;
}

.claims-table a {
  text-decoration: none !important;
}